.target-domain-profile {
  border: 10px dashed purple;
  margin: auto;
  padding-bottom: 10px;
  min-width: 200px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.target-domain-profile-logo {
  width: 80%;
  align-self: center;
}

.target-domain-profile-name {
  font-size: 20px;
  text-align: center;
}